.container-equipepedago {
  margin-top: 400px;
}

.carroussel-equipepedago {
  display: flex;
  justify-content: center;
}
.equipepedago-title {
  color: white;
  font-size: 45px;
  text-align: start;
  padding-block: 25px;
}
.img-equipepedaego {
  width: 80%;
}
.section-white {
  background-color: white;
  height: 225px;
}
