.container-equipe {
  margin-top: 80px;
}

.carroussel-equipe {
  display: flex;
  justify-content: center;
}
.equipe-title {
  color: white;
  font-size: 45px;
  text-align: end;
  padding-block: 25px;
}
.img-equipe {
  width: 80%;
}
.section-white {
  background-color: white;
  height: 225px;
}
