.container-galerie {
  margin-top: 50px;
}
.galerie-txt {
  color: white;
  font-size: 45px;
  text-align: end;
  margin: 0;
}
.gallerie-sous-title {
  display: flex;
  text-align: start;
  padding-top: 80px;
}
.container-gallerie-photo {
  margin-inline: 20px;
}
.container-gallerie-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 20px;
}
.gallerie-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-inline: 10px;
}
.img-pelemele {
  width: 100%;
}
.btn-photo {
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 5px;
  margin-top: 30px;
  background-color: white;
  color: black;
}
.ripple-surface {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  margin-top: 30px;
}
.container-slide {
  margin-top: 20px;
}
.slides {
  max-width: 100vw;
  max-height: 100vw;
}
h2 {
  margin-block: 20px;
  color: white;
}
.modal {
  --mdb-modal-bg: #000;

  .cross-close {
    width: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
  .modal-header {
    justify-content: flex-end;
  }
  .modal-body {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    .carousel-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;

      img {
        max-width: 90vw;
        max-height: 90vh;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .gallerie-sous-title {
    padding-top: 40px;
  }
  .gallerie-composant {
    display: flex;
    justify-content: space-around;
  }
  .gallerie-photo {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
