.container-partenaires {
  margin-top: 400px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: end;
  color: rgb(119, 105, 105);
}

.sponsor {
  display: flex;
  padding-block: 15px;
}
.sponsor-img {
  width: 100px;
  height: 100px;
}
