@import "mdb-react-ui-kit/dist/css/mdb.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "./home";
@import "./navbar";
@import "./equipe";
@import "./equipepedago";

@import "./galerie";
@import "./partenaires";
@import "./pelemele";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 66px;
  background-color: black;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
